extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block body
	include ../lib/header/h-12/index.pug
	include ../lib/banner/b-2/index.pug
	include ../lib/boxes/b-7/index.pug
	include ../lib/boxes/b-4/index.pug
	include ../lib/carousel/c-2/index.pug
	include ../lib/boxes/b-7/index.pug
	include ../lib/carousel/c-2/index.pug
block footer
	include ../lib/footer/f-5/index.pug
