section.canhcam-banner-2
	article.list-items
		.item(bg-img="./img/slider/slider-1.jpg")
			.title
				h1.h1 Landing Page VietNam
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit
	.form-group
		label(for='exampleInputEmail1') Email address
		input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
		small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
		label(for='exampleInputPassword1') Password
		input#exampleInputPassword1.form-control(type='password', placeholder='Password')
		button.btn.btn-primary(type='submit') Submit
